.App {
    background: linear-gradient(to right, #bb7ee1, #863ece);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    width: 91%;
    margin-left: 6%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px rgb(36, 6, 53);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    width: 80%;
    padding: 0 20px;
    background: linear-gradient(to right, #c07aec, #470886);
    box-shadow: 5px 5px 5px 2px black;

}


.reset-button {
    padding: 8px 16px;
    background-color: #e33c3c;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.reset-button:hover {
    background-color: #da0d0d;
}


input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 10px;
    margin-left: 28%;

}

.todos-container {
    width: 100%;
    max-width: 400px;
    margin-left: 13%;
    margin-bottom: 5%;


}

.todo-card {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #080606;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px black;

}

.todo-card:hover {
    background-color: #e1dbdb;
}

.completed {

    background: linear-gradient(to right, #7712b6, #fefdff);

    height: 90%;
    width: 90%;
    margin: 5px 0;
    padding: 9px;

}



.todoCompleteCard {
    background-color: rgb(173, 130, 242);
    width: 50%;
    margin-bottom: 2%;
    align-items: center;
    margin-top: 2%;
    box-shadow: 5px 5px 5px 3px rgb(49, 9, 69);
    border-radius: 10px;

}